<%= link_to "Adicionar Tarefa", new_task_path %>
<% @tasks.sort do |a, b|
     # sort nils after everything else
     if a.nil? then 1 elsif b.nil? then -1 else a <=> b end
   end.each do |task| %>
  <p>
    <%= task.title %>
    <strong>Data:</strong>
    <%= task.deadline %>
    <br>
    <%= link_to "Detalhes", task %>
    <br>
    <%= link_to "Remover Tarefa", task,method: :delete, data: { confirm: 'Tem certeza que deseja excluir esta tarefa ?' } %>
    <br>
    
  </p>
<% end %>
