<% if @task.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= @task.errors.count %> erro(s) impedem que a tarefa seja salva
    </h2>
    <ul>
      <% @task.errors.each do |attr, msg| %>
        <li>: <%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<%= form_with scope: :task, url: tasks_path, local: true  do |form| %>
  <p>
    <%= form.label "título" %><br>
    <%= form.text_field :title %>
  </p>
  <p>
    <%= form.label "data de entrega" %><br>
    <%= form.text_field :deadline, type: 'date' %>
  </p>
  <p>
    <%= form.label "categoria" %><br>
    <%= form.text_field :category %>
  </p>
  <p>
    <%= form.hidden_field :user_id, value: 1 %>
  </p>
  <p>
    <%= form.submit 'Adicionar nova tarefa' %>
  </p>
<% end %>