
<%= form_for @user do |user| %>
    <p>
      <%= user.label "Nome" %><br>
      <%= user.text_field :name %>
    </p>
    <p>
      <%= user.label "E-mail" %><br>
      <%= user.text_field :email %>
    </p>
    <p>
      <%= user.submit 'Editar' %>
    </p>
<% end %>